<h1>글 작성</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<form action="/posts/create" method="post">
  제목: <input type="text" name="title"> <br/>
  작성자: <input type="text" name="username"> <br/>
  내용: <textarea name="content"></textarea> <br/>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  <input type="submit" value="글 올리기">
</form>
